<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
    TODO: document here how this launches and which versions of launchctl are
    supported.
-->
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>org.pypi.poof</string>
	<key>ProgramArguments</key>
	<array>
		<string>sh</string>
		<string>-c</string>
		<string>poof backup</string>
	</array>
	<key>RootDirectory</key>
	<string>/Users/ciurana</string>
	<key>StandardErrorPath</key>
	<string>/Users/ciurana/tmp/poof-err.dat</string>
	<key>StandardOutPath</key>
	<string>/Users/ciurana/tmp/poof-out.dat</string>
	<key>StartCalendarInterval</key>
	<array>
		<dict>
			<key>Hour</key>
			<integer>0</integer>
			<key>Minute</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>6</integer>
			<key>Minute</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>12</integer>
			<key>Minute</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>18</integer>
			<key>Minute</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>UserName</key>
	<string>ciurana</string>
	<key>WorkingDirectory</key>
	<string>/Users/ciurana</string>
</dict>
</plist>

